{{define "index"}}
  {{template "header"}}
  <div class="container-fluid">
    <a name="start"></a>
    <div class="row center-block">
      <div class="col-md-12 vcenter">
        <p>Frequenzabweichung.de misst die Netzfrequenz des europäischen
        Stromnetzes. Die Messung liefert Einblicke in das Gleichgewicht
        unseres Stromnetz: Normalerweise beträgt die Netzfrequenz 50
        Hertz. Sinkt sie ab, wird nicht genügend Leistung von
        Kraftwerken in das Netz eingespeist. Liegt sie darüber, wird
        zuviel Leistung eingespeist. Kleinere Frequenzabweichungen sind normal. 
        Wenn die Netzfrequenz jedoch um mehr
        als 20 mHz von der Nennfrequenz 50 Hz abweicht wird die
        Primärregelung des Stromnetzes aktiv und gleicht
        die Abweichung aus.</p>
        <p>Das Tacho auf der linken Seite zeigt immer den aktuellen Wert
        an, während die Abweichung der letzen drei Minuten auf der rechten
        Seite (in mHz) dargestellt wird. Die Schwankungen der Netzfrequenz sind
        üblicherweise nicht bedenklich &mdash; unser Stromnetz ist recht
        stabil.</p>
      </div>
    </div>
    <div class="row center-block top-buffer">
      <div class="col-md-4 vcenter pull-left" id="freqgauge"></div>
      <div class="col-md-8 vcenter pull-right">
        <div id="freqchart" class="epoch category10" style="height:
          220px; width: 480px;"></div>
      </div>
    </div>
    <a name="Projekt"></a>
    <div class="row center-block top-buffer">
      <div class="col-md-12 vcenter">
          <h3>Das Projekt</h3>
          <p>TODO</p>
      </div>
    </div>
    <a name="contact"></a>
    <div class="row center-block top-buffer">
      <div class="col-md-12 vcenter">
          <h3>Kontakt</h3>
          <p><i class="icon-envelope"></i>
              <script language="JavaScript">
                document.write('<a h'+'ref="m'+'ailt'+'o:'+'%6d%64%40%67%6f%6e%69%75%6d%2e%6e%65%74">&#109;&#100;&#64;&#103;&#111;&#110;&#105;&#117;&#109;&#46;&#110;&#101;&#116;<\/a>');
              </script><br/>
              GPG key: B6501625<br/>
              fingerprint: E7BA B68E A2D3 9B6A ECEF  4DE4 823E 0DBE B650 1625<br/>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var ws_endpoint = "ws://{{$}}/ws";
  </script>
{{template "footer"}}
{{end}}
