{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Netzfrequenzabweichung</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/js/app.js" type="text/javascript"></script>
<script src="/js/vendor/justgage.1.0.1.min.js" type="text/javascript"></script>
<script src="/js/vendor/raphael.2.1.0.min.js" type="text/javascript"></script>
<!--<script src="/js/vendor/d3.v2.min.js" charset="utf-8"></script>
<script src="/js/vendor/cubism.v1.js"
  type="text/javascript"></script>-->
<script src="/js/vendor/d3.js" type="text/javascript"></script>
<script src="/js/vendor/epoch.0.5.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var ws_endpoint = "ws://{{$}}/ws";
</script>
<link href="/css/main.css" rel="stylesheet" type="text/css"/>
<link href="/css/vendor/epoch.0.5.2.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="time"><p><div id="timevalue">Uhrzeit</div></p></div>
<div id="gauge"></div>
<p>Verlauf der Frequenzabweichung (mHz):</p>
<div id="freqchart" class="epoch category10" style="height: 200px;"></div>

</body>
</html>
{{end}}
