# defluxio binaries
defluxio-provider
defluxiod

# configuration files
defluxio-provider.conf
defluxio-exporter.conf
defluxio.conf

# Object files
*.o
*.ko
*.obj
*.elf
*.lst
*.eep
*.map
*.sym
*.lss
.dep

# Executables
*.hex

# Mac
.DS_Store
