{{define "projekt"}}
  {{template "header"}}
  <div class="container-fluid">
    <a name="Projekt"></a>
    <div class="row center-block">
      <div class="col-md-12 vcenter">
					<h3>
						<i class="glyphicon glyphicon-book right-buffer"></i>
						Projekt
					</h3>
			</div>
		</div>
    <div class="row center-block top-buffer">
			<div class="col-md-1 vcenter pull-left"></div>
			<div class="col-md-10 vcenter">
				<p>Das Projekt Netzsin.us ist aus dem Wunsch entstanden, die
				Funktionsweise des Stromnetzes besser zu verstehen. Die
				Hintergründe des Projekts wurden in den folgenden Vorträgen
				näher vorgestellt:</p>

				<ul>
					<li>MRMCD2014 TODO: Kurzbeschreibung, PDF und Link</li>
					<li>MRMCD2015</li>
					<li>32. Chaos Communication Congress</li>
				</ul>

				<p>Netzsin.us verwendet ausschließlich Open Source-Komponenten,
				um eine zeitlich hochaufgelöste Netzfrequenzmessung zu
				realisieren. Die Daten sind für nichtkommerzielle Zwecke frei
				verwendbar. Alle Hard- und Softwarekomponenten sind auf der
				<a href="https://github.com/netzsinus">auf der Netsin.us Github-Seite</a>
				dokumentiert.</p>
			</div>
		<div class="col-md-1 vcenter pull-right"></div>
	</div>
	
		<a name="Mithelfen"></a>
    <div class="row center-block">
      <div class="col-md-12 vcenter">
					<h3>
						<i class="glyphicon glyphicon-book right-buffer"></i>
						Mitmachen
					</h3>
			</div>
		</div>
    <div class="row center-block top-buffer">
			<div class="col-md-1 vcenter pull-left"></div>
			<div class="col-md-10 vcenter">
			
				<p>Wenn Du mithelfen möchtest: Sehr gerne! Die folgenden
				Bereiche können von Deiner Hilfe profitieren:</p>
				<ul>
					<li>Nutze die Daten! Entwickele eigene Analysen auf der Basis
					der Meßdaten. Die Daten sind für nichtkommerzielle Anwendungen
					frei verwendbar. Schau Dir <a href"/daten">die Hinweise zu den
						Datensätzen</a> an.</li>
					<li>Im Moment suchen wir noch weitere Messgerätebetreiber, die
					im Europäischen Ausland Meßgeräte betreiben und die Daten an
					unseren Server schicken.</li>
					<li>Das Messgerät funktioniert gut, kostet derzeit aber
					relativ viel. Eine Neuentwicklung des Meßgeräts wäre sehr
					toll!</li>
					<li>Wir freuen uns natürlich über Pull-Requests auf
					Github!</li>
				</ul>
				
			</div>
		<div class="col-md-1 vcenter pull-right"></div>
	</div>
	{{template "footer"}}
{{end}}
