body {
  padding-top: 90px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vcenter {
  display: inline-block;
  vertical-align: bottom;
  float: none;
}

.top-buffer { margin-top:35px; }

#freqgauge {
  width:320px; height:240px;
}

